.item {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 400px;
  height: 112px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.online,
.offline {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: green;
}
.offline {
  background-color: red;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 18px;
}

.name {
  font-weight: 600;
  font-size: 24px;
}
